@media (prefers-color-scheme: light) {
    body {
        background-color: #fbf8ef;
        color: #655370;
    }

    h2 {
        color: #3a81c3;
    }

    h3 {
        color: #2d9574;
    }

    code {
        color: #da8b55;
    }

    a {
        color: #21b8c7;
    }

    ::selection {
        background-color: #d3d3e7;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #292b2e;
        color: #b2b2b2;
    }

    h1 {
        color: #bc6ec5;
    }

    h2 {
        color: #4f97d7;
    }

    h3 {
        color: #2d9574;
    }

    code {
        color: #9f8766;
    }

    a {
        color: #21b8c7;
    }

    ::selection {
        background-color: #444155;
    }
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-family: Cambria, Times, serif;
    font-size: 18px;
    word-wrap: break-word;
    padding: 0 10px;
}

h1 {
    text-decoration: underline;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

pre {
    font-size: 12px;
    box-shadow: none;
}

#postamble {
    border-top: dashed 1px #292b2e;
    padding: 5px;
}
